{% extends 'base.html' %}
{% block content %}

<h1>{{ post.title }}</h1>

<a class="button is-primary" href="{% url 'boards:comment_create' post.pk %}">コメントする</a>

<section class="section">
    {% for comment in post.comment_set.all %}
    <div class="box">
        <p>{{ comment.text | linebreaks | urlize }}</p>
        <a href="{% url 'boards:comment_good' pk_title=post.pk pk_comment=comment.pk %}">いいね {{ comment.good }}</a>
        <p>({{ comment.created_at | date:"Y/m/d H:i:s" }})</p>
        {% if request.user == comment.writer %}
        <a href="{% url 'boards:comment_update' comment.pk %}">編集</a>
        <a href="{% url 'boards:comment_delete' comment.pk %}">削除</a>
        {% endif %}
    </div>
    {% endfor %}
</section>

{% endblock %}